{{ if not .Params.noauthor }}
{{$author := index .Site.Data.authors (or .Params.author .Site.Params.author)}}
{{$authorname := or $author.name .Site.Params.author }}
{{$authorbio := or $author.bio .Site.Params.bio }}
{{$authorlocation := or $author.location .Site.Params.authorlocation }}
{{$authorlocationLink := or $author.locationLink .Site.Params.authorlocationLink }}
{{$twitterName := or $author.twitterName .Site.Params.twitterName }}
{{$githubName := or $author.githubName .Site.Params.githubName }}
<section class="author">
  <h4><a href="{{.Site.BaseURL}}">{{$authorname}}</a></h4>
  {{if $authorbio}}
  <p>{{$authorbio}}</p>
  {{else}}
  <p>Read <a href="{{.Site.BaseURL}}">more posts</a> by this author.</p>
  {{end}}
  <div class="author-meta">
    {{with $authorlocation}}
    <span class="author-location icon-location">
      <a href="{{ $authorlocationLink }}" target="_blank">
        {{.}}
      </a>
    </span>
    {{end}}

    {{with $twitterName}}
    <span class="twitter-link icon-twitter">
      <a href="https://twitter.com/{{.}}" target="_blank"> @{{.}}</a>
    </span>
    {{end}}

    {{with $githubName}}
    <span class="github-link icon-github">
      <a href="https://github.com/{{.}}" target="_blank"> {{.}}</a>
    </span>
    {{end}}
  </div>
</section>
{{end}}
